<section class="content-section about" id="about">
    <div class="about__inner">
        {{> title text="Меня зовут" subText=fullName color="_white"}}
        <h2 class="about__side-title">Коротко о себе</h2>

        <div class="about__description">
            {{#each text.about}}
                {{> titleDesc text=this}}
            {{/each}}
        </div>

        <div class="about__video">
            <iframe id="player"
                width="755"
                height="450"
                src="https://www.youtube.com/embed/ViYGWK7gC2k?enablejsapi=1"
                frameborder="0"
                allowfullscreen
                tabindex="0"></iframe>
        </div>

        {{>number number="01" class="_about"}}
    </div>
</section>