<section class="content-section contact" id="contact">
    <div class="contact__inner">
        {{> title text="Как со мной" subText="связаться" color="_gray"}}
        <h2 class="contact__side-title"><!--Как связаться--></h2>

        <div class="contact__description">
            {{> titleDesc text=text.contact}}
        </div>

        <div class="contact__social-list">
            <a href="https://vk.com/d_pushkarskaya" class="contact__social-item _vk" target="_blank"></a>
            <a href="https://github.com/6thSence" class="contact__social-item _gh" target="_blank"></a>
        </div>

        <p class="contact__skype">
            или по Skype:
            <a href="skype:dashaoralenaoo" class="contact__skype-link" target="_blank">
                dashaoralenaoO
            </a>
        </p>

        <div class="contact__description">
            {{> titleDesc text=text.contactBack}}
        </div>

        <div class="contact-form" id="form">
            <div class="contact-form__inputs">
                <input id="name" type="text" class="contact-form__input" placeholder="Как вас зовут?" tabindex="1" name="name">
                <input id="email" type="text" class="contact-form__input" placeholder="Email" tabindex="2" name="email">
            </div>
            <a type="button" class="contact-form__button _blocked" id="submite-button" title="Введите данные" tabindex="3" disabled>Отправить</a>
            <div class="contact-form__msg">
                <span class="contact-form__success" id="success">Ваша заявка принята</span>
                <span class="contact-form__fail" id="fail">Что-то пошло не так. Попробуйте позже</span>
            </div>
        </div>
        {{>number class="_contact"}}
    </div>
</section>