<section class="content-section contact">
    <div class="contact__inner">
        {{> title text="Как со мной" subText="связаться" color="_gray"}}
        <h2 class="contact__side-title">Как связаться</h2>
        {{> titleDesc text=text.contact}}

        {{>number number="06" class="_contact"}}
    </div>
</section>