<section class="content-section contact" id="contact">
    <div class="contact__inner">
        {{> title text="Бесплатный" subText="урок" color="_gray"}}

        <div class="contact__description">
            {{> titleDesc text=text.contact}}
        </div>

        <div class="contact-form">
            <button class="b24-web-form-popup-btn-8 contact-form__button">Записаться на бесплатный урок</button>
        </div>

        <div class="contact__description">
            {{> titleDesc text=text.contactBack}}
        </div>

        <div class="contact__social-list">
            <a href="https://vk.com/d_pushkarskaya" class="contact__social-item _vk" target="_blank"></a>
            <a href="https://github.com/6thSence" class="contact__social-item _gh" target="_blank"></a>
        </div>

    </div>
</section>