<footer class="footer">
    <div class="footer__inner">
        <p class="footer__copyright">© 2016. Все права принадлежат мне ;)</p>
        <div class="footer__share">
            <span class="footer__share-text">Поделиться:</span>
            <div class="footer__share-list">
                <a href="" class="footer__share-item _vk"></a>
                <a href="" class="footer__share-item _fb"></a>
            </div>
        </div>
    </div>
</footer>