<header class="header">
    <nav class="navigation">
        <a href="" class="navigation__link">Коротко о себе</a>
        <a href="" class="navigation__link">Чему научимся</a>
        <a href="" class="navigation__link">Программа</a>
        <a href="" class="navigation__link">Прием набора</a>
        <a href="" class="navigation__link">Сколько стоит</a>
        <a href="" class="navigation__link">Как связаться</a>
    </nav>
</header>