<div class="header" id="header">
    <div class="header__logo"></div>
    <nav class="header__nav">
        <a href="" class="header__nav-link _active">Коротко о себе</a>
        <a href="" class="header__nav-link">Чему научимся</a>
        <a href="" class="header__nav-link">Программа</a>
        <a href="" class="header__nav-link">Прием набора</a>
        <a href="" class="header__nav-link">Сколько стоит</a>
        <a href="" class="header__nav-link">Как связаться</a>
    </nav>
</div>
