<div class="header" id="header">
    <div class="header__logo"></div>
    <nav class="header__nav">
        <a href="#" data-view="about" class="header__nav-link _active">Коротко о себе</a>
        <a href="#" data-view="skills" class="header__nav-link">Чему научимся</a>
        <a href="#" data-view="plan" class="header__nav-link">Программа</a>
        <a href="#" data-view="group" class="header__nav-link">Прием набора</a>
        <a href="#" data-view="price" class="header__nav-link">Сколько стоит</a>
        <a href="#" data-view="cont" class="header__nav-link">Как связаться</a>
    </nav>
</div>
