<section class="mentor">
    <div class="descktop">
        <h1 class="mentor__title">Лично обучу веб-разработке за 3&nbsp;месяца</h1>
        <h2 class="mentor__subtitle _main">с вашим гарантированным доходом от 30&nbsp;000 рублей в месяц. </h2>
    </div>

    <div class="mentor__inner">

        <div class="mentor__photo">
            <!--<img src="./assets/mentor/photo.jpg" alt="Твой ментор - Пушкарская Дарья">-->
        </div>
        <div class="mentor__desc">Индивидуальная программа обучения</div>
        <div class="mentor__text">
            <div class="mobile">
                <h1 class="mentor__title">Лично обучу веб-разработке за 3&nbsp;месяца</h1>
                <h2 class="mentor__subtitle _main">с вашим гарантированным доходом от 30&nbsp;000 рублей в месяц. </h2>
            </div>
            <h3 class="mentor__name">{{fullName}}</h3>
            <h2 class="mentor__subtitle">Мой опыт: Mail.ru, 2GIS</h2>
            <div class="descktop">

                <script id="bx24_form_link" data-skip-moving="true">
                    (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                        if(w[b]['forms']) return;
                        s=d.createElement('script');r=1*new Date();s.async=1;s.src=u+'?'+r;
                        h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                    })(window,document,'https://webspecial.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

                    b24form({"id":"8","lang":"ru","sec":"l4jmnn","type":"link","click":""});
                </script>
                <button class="b24-web-form-popup-btn-8 contact-form__button">Записаться на урок</button>
            </div>
        </div>
    </div>


    <div class="mentor__mouse-down"></div>
</section>