<div class="mentor">
    <div class="mentor__inner">
        <div class="mentor__photo">
            <!--<img src="./assets/mentor/photo.jpg" alt="Твой ментор - Пушкарская Дарья">-->
        </div>
        <div class="mentor__desc">Индивидуальная программа обучения</div>
        <div class="mentor__text">
            <h3 class="mentor__name">{{fullName}}</h3>
            <h1 class="mentor__title">Твой ментор в мире Web</h1>
            <h2 class="mentor__subtitle">Получай правильные советы и обучайся продуктивнее в своем ритме </h2>
        </div>
    </div>

    <div class="mentor__mouse-down"></div>
</div>