<section class="content-section plan">
    <div class="plan__inner">
        {{> title text="Индивидуальная программа" subText="для каждого ученика" color="_white"}}
        <h2 class="plan__side-title">Программа</h2>
        {{> titleDesc text=text.plan}}
    </div>
</section>