<section class="content-section plan" id="plan">
    <div class="plan__inner">
        {{> title text="Индивидуальная программа" subText="для каждого ученика" color="_white"}}
        <h2 class="plan__side-title"><!--Программа--></h2>

        <div class="plan__description">
            {{> titleDesc text=text.plan}}
        </div>

        <div class="plan__options">
            <div class="plan__option">
                <h3 class="plan__option-title">Отлично подойдет:</h3>
                <ul class="plan__option-list">
                    {{#each options.forHow}}
                        <li class="plan__option-item">{{this}}</li>
                    {{/each}}
                </ul>
            </div><!--

            --><div class="plan__option">
                <h3 class="plan__option-title">Дополнительные приятные моменты:</h3>
                <ul class="plan__option-list">
                    {{#each options.plus}}
                        <li class="plan__option-item">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        {{>number class="_plan"}}
    </div>
</section>