<section class="content-section price" id="price">
    <div class="price__inner">
        {{> title text="Цена данного" subText="индивидуального обучения" color="_white"}}
        <h2 class="price__side-title">Сколько стоит</h2>

        <p class="price__text">Стоимость личного обучения всего 5 000 рублей/месяц</p>

        <div class="price__description">
            {{> titleDesc text=text.price}}
        </div>

        <img src="../assets/owls/owl_6.png" alt="" class="price__img">

        {{>number number="05" class="_price"}}
    </div>
</section>