<section class="content-section price">
    <div class="price__inner">
        {{> title text="Цена данного" subText="индивидуального обучения" color="_white"}}
        <h2 class="price__side-text">Сколько стоит</h2>
        {{> titleDesc text=text.price}}

        {{>number number="05" class="_price"}}
    </div>
</section>