<section class="content-section skills" id="skills">
    <div class="skills__inner">
        {{> title text="Что я знаю сама" subText="и чему могу научить вас" color="_gray"}}
        <h2 class="skills__side-title">Чему научимся</h2>

        <div class="skills__description">
            {{> titleDesc text=text.skills}}
        </div>

        <div class="skills__list">
            {{#each skills}}
                <img src="./assets/skills/{{this}}.png"class="skills__item"></img>
            {{/each}}
        </div>

        {{>number number="02" class="_skills"}}
    </div>
</section>