<section class="content-section skills">
    <div class="skills__inner">
        {{> title text="Что я знаю сама" subText="и чему могу научить вас" color="_gray"}}
        <h2 class="skills__side-tittle">Чему научимся</h2>
        {{> titleDesc text=text.skills}}
    </div>
</section>