.about {
    background: #f6f6f6;

    & .description:last-child {
        margin: 0 auto 60px;
        }
    }

    .about__inner {
        padding: 0;
        border: solid 1px transparent;
        }

        .about__video {
            position: relative;
            margin: auto;
            size: 755px 450px;

            &:before {
                position: absolute * * 0 -138px;
                display: block;
                background: inline('../assets/owls/owl_1.png') center/cover no-repeat;
                content: '';
                size: 120px;
                }
            }

    .about__side-title {
        position: absolute 34% * * -196px;
        margin: 0;
        color: #d8d8d8;
        text-transform: uppercase;
        font: 60px/1 'Proxima Nova Black', Helvetica, Arial, sans-serif;
        transform: rotate(-90deg);
        }

@media screen and (max-device-width: 320px) {
    .about__side-title {
        display: none;
        }

        .about__video iframe {
            size: 320px *;
            }
    }