.about {
    background: #f6f6f6;

    & .description:last-child {
        margin: 0 auto 60px;
        }
    }

    .about__inner {
        padding: 0;
        border: solid 1px transparent;
        }

        .about__video {
            position: relative;
            margin: auto;
            size: 755px 450px;

            &:before {
                position: absolute * * 0 -138px;
                display: block;
                background: inline('../assets/owls/owl_1.png') center/cover no-repeat;
                content: '';
                size: 120px;
                }

            & iframe {
                size: 100%;
                }
            }

    .about__side-title {
        position: absolute 145px * 0 40px;
        margin: 0;
        size: 42px *;
        background: inline('../assets/titles/about.svg') top/100% auto no-repeat;
        }

@media screen and (max-device-width: 320px) {
    .about {

        & .description:last-child {
            margin-bottom: 65px;
            }
        }

        .about__side-title {
            display: none;
            }

            .about__video {
                size: 320px 190px;

                &:before {
                    display: none;
                    }
                }
    }