@keyframes show {
    50% {
        opacity: 1;
    }
}

.contact__inner {
    padding: 0;
    border: solid 1px transparent;
    }

    .contact__side-title {
        position: absolute 34% * * -186px;
        margin: 0;
        color: #d8d8d8;
        text-transform: uppercase;
        font: 60px/1 'Proxima Nova Black', Helvetica, Arial, sans-serif;
        transform: rotate(-90deg);
        }

    .contact__description {
        margin: 0 auto 50px;
        size: 550px *;
        }

    .contact__social-list {
        margin: 0 0 50px;
        text-align: center;
        }

    .contact__social-item {
        display: inline-block;
        padding: 0 15px;
        background: inline('../assets/icons/icon_VK.svg') center/contain no-repeat;
        transition: opacity .8s ease-in-out;
        size: 45px;

        &:hover {
            opacity: .8;
            }

        &._gh {
            background: inline('../assets/icons/icon_GitHub.svg') center/contain no-repeat;
            }
        }

    .contact__skype {
        margin: 0 0 85px;
        color: #232323;
        text-align: center;
        font: 18px/1 'Proxima Nova Light', Helvetica, Arial, sans-serif;
        }

    .contact__skype-link {
        color: #21ea7b;
        }

    .contact-form {
        margin: auto;
        size: 560px *;
        text-align: center;
        }

    .contact-form__input {
        margin: 0 0 25px;
        padding: 18px;
        box-sizing: border-box;
        font: 18px/1 'Proxima Nova Light', Helvetica, Arial, sans-serif;
        border: solid 2px transparent;
        outline: 0;
        color: #232323 #f6f6f6;
        size: 100% 58px;
        transition: background .3s, border .3s;

        &:hover, &:focus {
            background: #fff;
            border-color: #21ea7b;
            outline: 0;
            }
        &:last-child {
            margin: 0 0 35px;
            }
        &._error {
            border-color: #f40d39;
            }
        }

    .contact-form__button {
        border: 0;
        margin: 0 0 20px 0;
        padding: 0 45px;
        display: inline-block;
        color: #fff #21ea7b;
        font: 16px/60px 'Proxima Nova Black', Helvetica, Arial, sens-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 35px;
        cursor: pointer;
        transform: scale(1);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;

        &._blocked {
            cursor: not-allowed;
        }

        &:hover {
            opacity: .6;
            }
        &:active, &:focus {
            outline: none;
            }
       &:active {
            transform: scale(.9);
            }
        }

    .contact-form__msg {
        height: 40px;
    }

    .contact-form__success, .contact-form__fail {
        text-align: center;
        display: none;
        opacity: 0;
        animation: show 5s ease-in-out;
        font: 32px/40px 'Proxima Nova Black', Helvetica, Arial, sens-serif;
        color: #21ea7b;

        &._show {
            display: block;
        }
    }
    .contact-form__fail {
        color: #f40d39;
    }

@media screen and (max-device-width: 320px) {
    .contact__side-title {
        display: none;
        }

    .contact__description {
        margin: * * 30px;
        size: 320px *;
        }

    .contact__social-list {
        margin: * * 30px;
        text-align: left;
        }

        .contact__social-item {
            size: 40px;
            }

    .contact__skype {
        padding: * 15px *;
        margin: * * 50px;
        text-align: left;
        font-size: 16px;
        }

    .contact-form {
        size: 90% *;
        }

        .contact-form__input {
            border-radius: 0;
            }

        .contact-form__button {
            margin: * * 65px;
            }
    }