body, html {
    margin: 0;
    padding: 0;
    }

.container {
    min-width: 1148px;
    }

.content-section {
    display: block;
    margin: 0;
    position: relative;
    padding: 95px 0;
    min-height: 960px;
    box-sizing: border-box;

    &:before, &:after {
        content: '';
        display: block;
        size: 2px 70px;
        background: #21ea7b;
        }
    &:before {
        position: absolute 0 * * 60px;
        }
    &:after {
        position: absolute * 60px 0 *;
        }
    }

div, h1, h2, h3, p, span {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: grayscale;
    }
