.group__inner {
    padding: 0;
    border: solid 1px transparent;
    }

    .group__side-title {
        position: absolute 34% * * -180px;
        margin: 0;
        color: #d8d8d8;
        text-transform: uppercase;
        font: 60px/1 'Proxima Nova Black', Helvetica, Arial, sans-serif;
        transform: rotate(-90deg);
        }
