.group__inner {
    padding: 0;
    border: solid 1px transparent;
    }

    .group__side-title {
        position: absolute 34% * * -180px;
        margin: 0;
        color: #d8d8d8;
        text-transform: uppercase;
        font: 60px/1 'Proxima Nova Black', Helvetica, Arial, sans-serif;
        transform: rotate(-90deg);
        }

    .group__description .description:last-child {
        margin: 0 auto 120px;
        }

    .group__img {
        display: block;
        margin: auto;
        size: 825px 260px;
        }

@media screen and (max-device-width: 320px) {
    .group__side-title {
        display: none;
        }
    }