.group__inner {
    padding: 0;
    border: solid 1px transparent;
    }

    .group__side-title {
        position: absolute 145px * 0 40px;
        margin: 0;
        size: 42px *;
        background: inline('../assets/titles/group.svg') top/100% auto no-repeat;
        }

    .group__description {
        margin: 0 auto 120px;
        }

    .group__img {
        display: block;
        margin: auto;
        size: 825px *;
        }

@media screen and (max-device-width: 320px) {
    .group__side-title {
        display: none;
        }

    .group__description {
        margin: * * 30px;
        }

    .group__img {
        margin: * * 30px;
        size: 90% *;
        }
    }