@keyframes slide {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

@keyframes mouseDown {
    50% {
        transform: translate(-50%, 25%);
        }
    }

.mentor {
    position: relative;
    min-height: 960px;
    box-sizing: border-box;
    padding: 180px * 95px;
    min-width: 960px;
    }

        .mentor__inner {
            position: relative;
            margin: auto;
            transform: translateX(-70px);
            size: 860px 555px;

            &:before, &:after {
                display: block;
                border: solid 2px #21ea7b;
                content: '';
                min-height: 135px;
                opacity: 0;
                transform: translateX(1300px);
                animation: slide 3s ease-in-out forwards;
                }
            &:before {
                z-index: 0;
                position: absolute 0 0 *;
                border-bottom: 0;
                }
            &:after {
                z-index: 2;
                position: absolute * 0 0;
                border-top: 0;
                }
            }

        .mentor__photo {
            position: absolute 45px * * -70px;
            z-index: 1;
            background: url('../assets/mentor/photo.jpg') center/cover no-repeat;
            size: 687px 456px;
            opacity: 0;
            transform: translateX(-600px);
            animation: slide 3s ease-in-out forwards;
            }

        .mentor__desc {
            z-index: 3;
            position: absolute * * 315px -130px;
            text-transform: uppercase;
            transform: rotate(-90deg);
            font: 13px/1 'Proxima Nova Light', Helvetica, Arial, sans-serif;
            color: #fff;
            opacity: 0;
            animation: show 1s ease-in-out 6s forwards;
            }

        .mentor__text {
            z-index: 3;
            position: absolute * -187px 0 *;
            box-sizing: border-box;
            text-align: right;
            size: 590px *;
            }

            .mentor__name {
                display: inline-block;
                margin: 0;
                padding: 40px 48px 40px *;
                color: #232323 #fff;
                font: 40px/1 'Proxima Nova Light', Helvetica, Arial, sans-serif;
                size: 350px *;
                opacity: 0;
                animation: show 2s ease-in-out 4s forwards;
                }

            .mentor__title {
                text-align: left;
                margin: 0 0 55px;
                color: #21ea7b;
                text-transform: uppercase;
                font: 80px/90px 'Proxima Nova Black', Helvetica, Arial, sans-serif;
                opacity: 0;
                animation: show 2s ease-in-out 3s forwards;
                }

            .mentor__subtitle {
                display: inline-block;
                padding: 0 30px 45px 0;
                color: #232323 #fff;
                text-align: left;
                font: 24px/1 'Proxima Nova Light', Helvetica, Arila, sans-serif;
                box-sizing: border-box;
                size: 350px *;
                opacity: 0;
                animation: show 2s ease-in-out 5s forwards;
                }

        .mentor__mouse-down {
            position: absolute * * 85px 50%;
            transform: translateX(-50%);
            background: inline('../assets/mentor/mouse.svg') center/22px auto no-repeat;
            size: 22px 32px;

            &:after {
                position: absolute * * -20px 50%;
                transform: translate(-50%, 0);
                content: '';
                display: block;
                background: inline('../assets/mentor/arrow.svg') left/cover no-repeat;
                size: 15px 32px;
                animation: mouseDown 1s infinite;
                transition: transform .5s ease-in-out;
                }
            }

@media screen and (max-device-width: 320px) {
    .mentor__subtitle,
    .mentor__desc,
    .mentor__inner:after,
    .mentor__mouse-down {
        display: none;
        }

    .mentor {
        padding: 15px;
        box-sizing: border-box;
        min-height: 457px;
        min-width: 320px;
        size: 320px 457px;
        background: inline('../assets/mentor/photo.jpg') center/cover no-repeat;
        }

        .mentor__inner {
            box-sizing: border-box;
            size: 100%;
            transform: none;
            }

            .mentor__inner:before {
                position: absolute 0;
                border: solid 2px #21ea7b;
                z-index: 1;
                }

            .mentor__photo {
                display: none;
                }
            
            .mentor__text {
                text-align: left;
                position: absolute * 0 *;
                box-sizing: border-box;
                padding: 15px;
                size: 100% *;
                }

                .mentor__name {
                    padding: 0;
                    margin: 0 0 10px;
                    font-size: 24px;
                    color: #fff transparent;
                    size: 100% *;
                    }

                .mentor__title {
                    margin: 0;
                    font-size: 34px;
                    line-height: 36px;
                    size: 100% *;
                    }
    }