.number {
    position: absolute * 25px 85px *;
    size: 80px 170px;

    &._about {
        background: inline('../assets/numberIcons/icon_1.svg') top/contain no-repeat,
            inline('../assets/numbers/01.svg') bottom/auto 80px no-repeat;
        }
    &._skills {
        background: inline('../assets/numberIcons/icon_2.svg') top/contain no-repeat,
            inline('../assets/numbers/02.svg') bottom/auto 80px no-repeat;
     }
    &._plan {
        background: inline('../assets/numberIcons/icon_3.svg') top/contain no-repeat,
            inline('../assets/numbers/03.svg') bottom/auto 80px no-repeat;
     }
    &._group {
        background: inline('../assets/numberIcons/icon_4.svg') top/contain no-repeat,
            inline('../assets/numbers/04.svg') bottom/auto 80px no-repeat;
        }
    &._price {
        background: inline('../assets/numberIcons/icon_5.svg') top/contain no-repeat,
            inline('../assets/numbers/05.svg') bottom/auto 80px no-repeat;
        }
    &._contact {
        background: inline('../assets/numberIcons/icon_6.svg') top/contain no-repeat,
            inline('../assets/numbers/06.svg') bottom/auto 80px no-repeat;
        }
    }

@media screen and (max-device-width: 320px) {
    .number {
        display: none;
        }
    }