.plan {
    background: #f6f6f6;
    }

    .plan__inner {
        padding: 0;
        border: solid 1px transparent;
        }

        .plan__side-title {
            position: absolute 145px * 0 40px;
            margin: 0;
            size: 42px *;
            background: inline('../assets/titles/program.svg') top/100% auto no-repeat;
            }

        .plan__description {
            margin: 0 0 60px;
            }

        .plan__options {
            margin: auto;
            max-width: 1148px;
            width: 80%;
            }

            .plan__option {
                display: inline-block;
                vertical-align: top;
                size: 50% *;
                }

                .plan__option-title {
                    color: #21ea7b;
                    font: 24px/1 'Proxima Nova Light', Helvetia, Arial, sans-serif;
                    }

                .plan__option-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    }

                    .plan__option-item {
                        position: relative;
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0 0 0 35px;
                        color: #232323;
                        font: 16px/24px 'Proxima Nova Light', Helvetica, Arial, sans-serif;

                        &:before {
                            position: absolute 9px * * 20px;
                            display: block;
                            border-radius: 50%;
                            background: #21ea7b;
                            content: '';
                            size: 7px;
                            }
                        }

@media screen and (max-device-width: 320px) {
    .plan__side-title {
        display: none;
        }

    .plan__description {
        margin: * * 45px;
        }

    .plan__options {
        margin: * * 50px;
        size: 90% *;
        }

        .plan__option {
            box-sizing: border-box;
            margin: * * 5px;
            size: 100% *;
            }

            .plan__option-item {
                padding: * * * 20px;

                &:before {
                left: 0;
                }
            }
    }