.skills__inner {
    padding: 0;
    border: solid 1px transparent;
    }

    .skills__side-tittle {
        position: absolute 34% * * -205px;
        margin: 0;
        color: #d8d8d8;
        text-transform: uppercase;
        font: 60px/1 'Proxima Nova Black', Helvetica, Arial, sans-serif;
        transform: rotate(-90deg);
        }

    .skills__description {
        margin: 0 0 180px;
        }

    .skills__list {
        position: relative;
        box-sizing: border-box;
        margin: auto;
        padding: 40px 0 0 40px;
        max-width: 1148px;
        width: 80%;
        border: solid 2px #21ea7b;
        text-align: center;

        &:before {
            position: absolute * * * 50%;
            display: block;
            background: #fff inline('../assets/owls/owl_2.png') center/120px no-repeat;
            content: '';
            transform: translate(-50%, -100%);
            size: 150px;
            }
        }

        .skills__item {
            display: inline-block;
            margin: 0 28px 50px 0;
            vertical-align: middle;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: translateY(-10px);
                }
            &:last-child {
                margin: 0 0 50px;
                }
            }
