.skills__inner {
    padding: 0;
    border: solid 1px transparent;
    }

    .skills__side-title {
        position: absolute 145px * 0 40px;
        margin: 0;
        size: 42px *;
        background: inline('../assets/titles/skills.svg') top/100% auto no-repeat;
        }

    .skills__description {
        margin: 0 0 180px;
        }

    .skills__list {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: auto;
        padding: 40px;
        max-width: 1148px;
        width: 80%;
        border: solid 2px #21ea7b;
        text-align: center;

        &:before {
            position: absolute * * * 50%;
            display: block;
            background: #fff inline('../assets/owls/owl_2.png') center/120px no-repeat;
            content: '';
            transform: translate(-50%, -100%);
            size: 150px;
            }
        }

        .skills__item {
            display: block;
            padding: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            size: 100px;
            background-origin: content-box;
            vertical-align: middle;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: translateY(-10px);
                }
            }

@media screen and (max-device-width: 320px) {
    .skills__side-title {
        display: none;
        }

    .skills__description {
        margin: * * 155px;
        }

    .skills__list {
        margin: * * 70px;
        size: 90% *;
        padding: * * * 5px;

        &:before {
            transform: translate(-50%, -110%);
            }
        }

        .skills__item {
            margin: * 15px 20px *;
            }
    }