.title__wrap {
    position: relative;
    margin: 0 auto 90px;
    color: #21ea7b;
    text-align: center;
    text-transform: uppercase;
    font: 30px/1 'Proxima Nova Black', Helvetica, Arica, sans-serif;
    min-width: 355px;

    &:before {
        z-index: 0;
        position: absolute 50% * * 50%;
        display: block;
        border-radius: 50%;
        content: '';
        transform: translate(-50%, -50%);
        size: 145px;
        }
    &._white:before {
         background: #fff;
         }
    &._gray:before {
         background: #f6f6f6;
         }
    }

    .title__text {
        position: relative;
        z-index: 1;
        margin: 0;
        }

@media screen and (max-device-width: 320px) {
    .title__wrap {
        box-sizing: border-box;
        margin: 0 auto 30px;
        padding: 0 15px;
        min-width: 320px;
        text-align: left;
        font-size: 22px;
        size: 100% *;

        &:before {
            left: 25px;
            margin-bottom: 35px;
            transform: translate(0, -50%);
            size: 90px;
            }
        }
    }