.description {
    margin: 0 auto 15px;
    max-width: 952px;
    color: #232323;
    text-align: center;
    font: 18px/30px 'Proxima Nova Light', Helvetica, Arial, sans-serif;
    }

@media screen and (max-device-width: 320px) {
    .description {
        margin: 0 auto;
        padding: 0 15px;
        text-align: left;
        font: 16px/24px 'Proxima Nova Light', Helvetica, Arial, sans-serif;
        }
    }