<!DOCTYPE HTML>
<html class="layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/bundle.min.css">
    <title>Твой ментор – Пушкарская Дарья</title>
</head>

<body>

    <div class="container">
        {{> header}}

        {{> mentor}}

        {{> about}}

        {{> skills}}

        {{> plan}}

        {{> group}}

        {{> price}}

        {{> contact}}

        {{> footer}}
    </div>

<script src="scripts/header.js"></script>
</body>
</html>
