<!DOCTYPE HTML>
<html class="layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="assets/favicon_hash.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/bundle.min.css">
    <title>Твой ментор – Пушкарская Дарья</title>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?94" charset="windows-1251"></script>
</head>
<body>
<div class="container">
    <section class="webinar">
            <h1 class="webinar__title">Бесплтаный вебинар "Как ускорить изучение Frontend в 3 раза"</h1>
            <h2 class="webinar__subtitle _main">Подарок тебе от меня на Новый Год! Выжимка моего опыта и выводов за год, реальные примеры, секреты и советы. Строим планы на следующий год.</h2>
        <div class="webinar__inner">

            <div class="webinar__video">
                <iframe id="player"
                        src="https://www.youtube.com/embed/Wl8HeN1lk2o"
                        frameborder="0"
                        allowfullscreen
                        class="_onload"
                        tabindex="0"></iframe>
            </div>
            <div class="webinar__text">
                <h2 class="webinar__subtitle">Будут новогодние подарки!</h2>
                <h2 class="webinar__subtitle">27 декабря 19:00</h2>
                <button class="contact-form__button" onclick="window.open('https://goo.gl/forms/TLp2eixvAR2XIcW73')">Записаться на вебинар</button>
            </div>
        </div>
    </section>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41804544 = new Ya.Metrika({
                    id:41804544,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41804544" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=Y35RSxjLmQz2dUAb3bFXMq943FyyZSWPzs5Ub71W2Pc4quDP3aroy*ihhlbp45DCL7j*L6GH8IXy7iS2qrA3jNUdgkW40ZlEw64wqZtOb3AQ0Q7wHP0O4JBzDCNhyAxFyqfdslCwkvQPAjE8qALVsmlYiKYiXBjpN7tk4Ci/x7Q-&pixel_id=1000059277';</script>
<script src="scripts/bundel.min.js"></script>
</body>
</html>
